<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connect_db" connectionString="Data Source=DESKTOP-DAOVEMQ;Initial Catalog=SistemaVentas;Integrated Security=True;Multiple Active Result Sets=True;Trust Server Certificate=True" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
		
</configuration>